body {
  text-align: center;
  font-size: 1.17em;
  background-color: #fffbf4;
}

label {
  font-weight: bold;
}

.contactInput {
  margin-right: 10px;
  margin-left: 3px;
}

button {
  font-weight: bold;
  border: none;
  padding: 10px;
  margin: 7px;
  border-radius: 11px;
  color: white;
}

#register {
  background: #63ce6b;
}

#register:hover {
  color: black;
  background: #a9f497;
}

#login {
  background: #4a91e2;
}

#login:hover {
  color: black;
  background: #a3d8ed;
}

#addContact {
  background: #f2973c;
}

#addContact:hover {
  color: black;
  background: #ffbc96;
}

.delete {
  background: #e52d2d;
  border-radius: 0;
  padding-left: 10.4px;
}

.delete:hover {
  color: black;
  background: #f98781;
}

#container {
  width: 850px;
  display: block;
  margin: 0 auto;
}

.contact {
  background-color: #d6d2d1;
  margin: 10px 0;
  border-radius: 11px;
}